body{
    background-color:rgb(0, 0, 0);
}

img{
    height: 500px;
}

.transparente{
    background-color:black;
}

.parpadear{
    
    font-size: 40px;
    box-shadow: 0px 0px 26px greenyellow;
    top: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50%; 
    animation: animacion 2s infinite linear;
}



 @media all and (max-width:540px){
   
    .numeros1{
        height: 300px;
    }
   .numeros2{
    height: 300px;
    width: 300px;
   }
  }





@media all and (max-width:991px){
    
}



@keyframes animacion {
    0%,100%{
      background-color:red;
    }

    25%{
        background-color: green;
    }

    50%{
        background-color: yellow;
    }

    75%{
        background-color: blue;
    }
}

