body{
    background-color:rgb(0, 0, 0);
}

img{
    height: 500px;
}

.parpadear{
     /* display:inline-block;  */
     position: relative;
    font-size: 30px;
    box-shadow: 0px 0px 100px aqua;
    top: 100px;
    /* left: 100px; */
    height: 200px;
    width: 200px;
    border-radius: 100%; 
    animation: animacion 2s infinite linear;
}



 @media all and (max-width:540px){
   
   .numbers{
     margin-left: 12px;
     height: 150px;
    }
  
   .parpadear{
    display:block; 
    position: relative;
    font-size: 30px;
   box-shadow: 0px 0px 100px aqua; 
   top: 0px;
   left: 10px;
    height: 100px;
    width: 100px;
    margin-top: 0;
     border-radius: 100%;  
    animation: animacion 2s infinite linear; 
    
  }


} 


@media all and (max-width:991px){
    .parpadear{
        display:block; 
        position: relative;
        font-size: 30px;
       box-shadow: 0px 0px 100px aqua; 
       top: 0px;
       left: 10px;
        height: 150px;
        width: 150px;
        margin-top: 0;
         border-radius: 100%;  
        animation: animacion 2s infinite linear; 
        
      }
}



@keyframes animacion {
    0%,100%{
      background-color:red;
    }

    25%{
        background-color: green;
    }

    50%{
        background-color: yellow;
    }

    75%{
        background-color: blue;
    }
}

